.nav {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 20;
}

.drawItem {
  border-bottom: 2px solid #252525;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}
